@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

*{
	margin: 0;
	padding: 0;
}
.container{
	width: 50%;
	background-color: #3F4E4F;
	height: 100vh;
	margin: auto;
	padding-top: 20px ;
}
.tarjeta-img{
	width: 90%;
	background-color: #51557E;
	height: 50vh;
	padding-top: 20px;
	border-right: 8px solid #F7EC09;
}
.tarjeta-img img{
	display: block;
	margin: auto;
	border-radius: 200px 200px;
}
.tarjeta-texto{
	margin-top: 10px;
	width: 100%;
	background-color: #832;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
}
.tarjeta-icon{
	display: block;
	width: 90%;
	background-color: #3EC70B;
	margin: auto;
	margin-top: 10px;
	border-top-right-radius: 50px;
}
.tarjeta-icon a{
	text-decoration: none;
	color: #fff;
	text-shadow: 3px 3px 2px blue;
}
.tarjeta-icon a i{
	font-size: 2em;
	padding-left: 25px;
	padding-right: 10px;
}
